[submodule "zsh.conf/envdir"]
	path = zsh.conf/envdir
	url = https://github.com/ganglio/envdir.git
[submodule "ohmy.custom/plugins/zsh-syntax-highlighting"]
	path = ohmy.custom/plugins/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
